.products-content{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.products-title{
     margin-bottom: 40px;
     background-color: green;
     opacity: 0.7;
     padding: 15px;
     color: #fff;
     
}
.products-content .product{
    width: 30%;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;    padding: 17px;
    text-align: center;
    margin-top: 20px;

}
.products-content .product > *{
    margin-top: 20px;
}
.products-content .product img{
    width: 80%;
    height: 250px;
}
.products-content .product button{
    width: 100%;
    padding: 10px;
    border: none;
    background-color: green;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.discount{
    background-color: red;
    color: #fff;
    padding: 3px 10px;
    width: max-content;
    border-radius: 6px ;
    margin: auto;
    text-decoration: line-through;
}
.products-content .product button:hover{
    background-color: rgb(22, 168, 22);
}
.more-details{
    margin-top: 20px;
}

.single-jummy{
    display: flex;
    gap: 50px;
}
.single-jummy .single-jummy-details > *{
   margin-top: 20px;
   letter-spacing: 1px;
}
.single-jummy img{
    width: 300px;
    height: 300px;
}
.single-jummy .discount{
    margin: 20px 0px;
}
.single-jummy .single-jummy-details button{
    padding: 10px;
    border: none;
    width: 300px;
    background-color: green;
    color: #FFF;
    font-size: 18px;
    cursor: pointer;
    transition: 0.5s;
}
.single-jummy .single-jummy-details button:hover{
    background-color: rgb(27, 179, 27);
}


@media screen and (max-width : 480px){
    .single-jummy{
        flex-direction: column;
        gap: 50px;
    }
    .single-jummy .single-jummy-details > *{
       letter-spacing: 0.5px;
    }
    .single-jummy .single-jummy-details{
        text-align: center;
    }
    
    .single-jummy .discount{
        margin: 20px auto;
    }
}